body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: cadetblue;
}

h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #efbc75;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

body {
  background: linear-gradient(
    -45deg,
    #efbc75,
    #c1e1a7,
    #148d8d,
    #1a4a5a,
    #0e2c40
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  padding-top: 150px;
  padding-left: 20%;
  width: 50%;
  margin: auto;
}
